@font-face {
    font-family: 'Cowboys';
    src: url('../fonts/cowboys-webfont.woff2') format('woff2'),
         url('../fonts/cowboys-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}