{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<div class="bg-slate-50 container mx-auto">
    {% header %}

    <div class="w-full max-w-3xl mx-auto p-4" x-data="{ activeTab: '{{ group_data.0.group.name }}' }">
        <div class="bg-blue-200 rounded-t-lg shadow-md overflow-hidden">
            <div class="flex">
                {%  for data in group_data %}
                <button
                    class="flex-1 py-3 px-4 text-center font-medium text-sm transition duration-200 ease-in-out relative"
                    :class="{
                            'bg-blue-200 text-black': activeTab === '{{ data.group.name }}',
                            'bg-gray-100 text-gray-700 hover:bg-gray-200': activeTab !== '{{ data.group.name }}'
                        }" @click="activeTab = '{{ data.group.name }}'">
                    {{ data.group.name }}
                    <div class="absolute bottom-0 left-0 right-0 h-1 bg-blue-200 transition-all duration-200 ease-in-out"
                        :class="{'opacity-100': activeTab === '{{ data.group.name }}', 'opacity-0': activeTab !== '{{ data.group.name }}'}">
                    </div>
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="bg-blue-200 rounded-b-lg shadow-md p-4" x-show="activeTab"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform scale-95"
            x-transition:enter-end="opacity-100 transform scale-100">
            {% for data in group_data %}
            {% with group_count=forloop.counter0 %}
            <div x-show="activeTab === '{{ data.group.name }}'">
                <div class="overflow-x-auto bg-white shadow-md">
                    <table class="w-full border-collapse">
                        <thead>
                            <tr>
                                <th class="sticky left-0 z-10 p-3 bg-white border border-slate-400"></th>
                                {% for team in data.teams %}
                                {% with index=forloop.counter0 total_rows=data.teams|length  %}
                                <th class="p-3 justify-center border text-center border-slate-400">
                                    {% team_name team index group_count=group_count total_teams=total_rows %}
                                </th>
                                {% endwith %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data.match_grid %}                            
                            {% with index=forloop.counter0 name=row|first results=row|slice:"1:" total_rows=data.teams|length %}
                            <tr>
                                <td class="sticky left-0 z-10 p-3 bg-white font-medium border border-slate-400">
                                    {% team_name team=name index=index group_count=group_count total_teams=total_rows %}</td>
                                {% for cell in results%}
                                <td
                                    class="p-3 text-center border border-slate-400 {% if cell == None %}bg-gray-200{% endif %}">
                                    {% if cell != None %}{{ cell }}{% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}