{% load static %}
<!DOCTYPE html>
<html lang="en" class="min-h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Tournament</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HD53E6G5WG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HD53E6G5WG');
    </script>

    {% block extra_css %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen bg-slate-100">
    <div class="flex-grow bg-slate-50 container mx-auto">
    {% block  content %} {% endblock %}
    </div>


    <footer class="w-full bg-gray-800 mt-auto relative">
        <div class="absolute inset-0 overflow-hidden">
            <img src="/static/img/grass-footer.jpg" alt="Footer Background" class="w-full h-full object-cover object-center opacity-80" />
        </div>
        <div class="container mx-auto px-4 py-8 relative z-10">
            <div class="flex justify-center items-center">
                <p class="text-white text-xl font-semibold">&nbsp;</p>
            </div>
        </div>
    </footer>
</body>

</html>